a {
    color: #d60e96;
}

/* Media Queries */
@media screen and (max-width: 767px) {
.table-responsive>.table-bordered {
    border: 0;
    }
}

@media screen and (max-width: 767px) {
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    }
}